*{
    margin: 0;
    padding: 0;
}

#contenSuperior{
    background: burlywood;
    display: block;
    padding-bottom: 10px;
    width: auto;
    height: 15%;
}
header{
    margin: auto;
    width: 70%;
    height: 110px;
}
#logo{
    display: block;
    float: left;
    line-height: 110px;
    width: 230px;
}

#logo img{
    max-width: 100%;
    vertical-align: middle;
    height: 110px;
    width: auto;
}

#barra{
    padding: 10px;
    margin: auto;
    float: right;
    display: blcok;
    background-color: aqua;
    height: 100px;

}

#navHeader{
    text-align: center;
}

ul{
    list-style-type: none;
    overflow: hidden;
    justify-content: center;
    align-items: center;

}
li{
    float: left;
    display: flex;
    padding: 9px;
    text-align: center;
}

li a{
    background-color: aliceblue;
    box-shadow: 2px 3px 5px #000;
    border-radius: 10%;
    vertical-align: middle;
}